@charset "UTF-8";

/*------------------------*/
/*   　　共通のスタイル      */
/*------------------------*/
html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover{
  opacity: 0.5;
  transition: 0.2s;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body {
  height: 100%;
  font-family:游ゴシック;
}

/*------------------------*/
/*         header         */
/*------------------------*/
#top-header {
  height: 70px;
  line-height: 70px;
  position: sticky;
  top:0;
  background-color:#ffffff;
  z-index:999;
}

.header-logo {
  width: 63px;
  height: 20px;
  margin-left: 35px;
  line-height: 70px;
}

.header-nav li {
  display: inline-block;
  margin-right: 26px;
  font-weight:bold;
  font-size: 16px;
  
}

.header-nav a {
  color: black;
}

#catchcopy {
  position:relative;
  height: 550px;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.catchcopy-large {
  position: absolute;
  top: 42%;
  left: 17.5%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.catchcopy-mini{
  position: absolute;
  top: 54%;
  left:35%;
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: bold;
  color: #fff;
}

#section{
  background-color:#222222;
  height:300px;
  position:relative;
  color:#ffffff;
}

.section-title{
  position:absolute;
  left:10%;
  top:25%;
  font-size:30px;
}

.section-txt{
  position:absolute;
  left:10%;
  right:10%;
  margin-top:11%;
  font-size:16px;
}

/*------------------------*/
/*      service           */
/*------------------------*/
#service{
  margin-top:5%;
  margin-bottom:13%;
  width:100%;
}

.service-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom:3%;
  font-size:30px;
}
.service-box{
  padding:0 10%;
  display:flex;
  flex-wrap:wrap;
}

.service-box-info{
  width:50%;
  margin-bottom:3%;
}

.service-box-info img {
  width:96%;
  height:75%;
}

.service-lead{
  font-size:18px;
  font-weight:bold;
  margin-top:2%;
}

.service-btn {
  position:absolute;
  display: block;
  width:300px;
  background-color:#CD0224;
  font-weight:bold;
  text-align:center;
  left:38%;
  margin:3% 0;
  padding: 10px;
  color:#ffffff;
  font-size:18px;
}

/*------------------------*/
/*          news         */
/*------------------------*/
#news {
  position: relative;
  background: #000;
  height:440px;
  margin-bottom:5%;
}

.news-box {
  padding: 6% 10% 2% 10%;
  display: flex;
  justify-content: space-between;
}

.news-title{
  color:#ffffff;
  font-size:30px;
}

.news-btn{
  display: block;
  height:30px;
  padding:8px 20px 0 20px;
  background-color:#CD0224;  
  text-align:center;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
}

.news-container{
  padding: 0 10%;
}

.article{
  display:block;
  background-color:#ffffff;
  margin-bottom:10px;
  padding:18px 2%;
  color:#000;
  font-weight:bold;
}

.news-date{
  font-weight:normal;
  margin-right:6px;
}

/*------------------------*/
/*          blog         */
/*------------------------*/
#blog{
  margin-bottom:10%;
}

.blog-title{
  font-size:30px;
  text-align:center;
  margin-bottom:20px;
}

.blog-container{
  display: flex;
  align-items: center;
  justify-content:center;
  margin:0 10%;
}

.blog-img{
  width:95%;
}

.blog-date{
  margin-top:10px;
  font-size:14px;
}

.blog-comment a{
  color:#000;
  font-size:18px;
  font-weight:bold;
}

/*------------------------*/
/*        company         */
/*------------------------*/
#company {
  margin-top: 15%;
  margin-bottom:8%;
}

.company-container{
  display: flex;
  align-items: center;
  justify-content:center;
}

.company-block,
.recruit-block{
  width:50%;
  text-align:center;
}

.company-link{
  background-color:#CD0224;  
}

.recruit-link{
  background-color:#000;
}

.company-link,
.recruit-link{
  display:inline-block;
  width:100%;
  padding:14% 0;
  color:#ffffff;
  font-size:26px;
  font-weight:bold;
}

/*------------------------*/
/*        contact         */
/*------------------------*/
#contact {
  background-color:#F5F6F9;
  height:300px;
  text-align: center;
}

.contact-title {
  padding-top:5%;
  font-size:30px;
}

.contact-txt{
  margin-top:15px;
}

/*------------------------*/
/*        footer          */
/*------------------------*/
#top-footer{
  height:60px;
  background-color:#000;
  padding:0 7% 0 10%;
}
.footer-logo{
  color:#ffffff;
  font-size:12px;
  margin-top:18px;
}
.footer-nav li{
  display: inline-block;
  margin-right: 8px;
  margin-top:18px;
  font-size: 12px;
}

.footer-nav li a{
  color:#ffffff;
  padding-right:16px;
  border-right:#ffffff 1px solid;
}

.footer-li:last-of-type {
  border-right: none;
}


/*--------------------------------------*/
/*     レスポンシブデザイン用CSS         */
/*--------------------------------------*/
 @media screen and (max-width: 768px){
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #000;
    transition: 0.8s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px;
  }

  #hamburger span:nth-of-type(2) {
    top: 20px; 
  }

  #hamburger span:nth-of-type(3) {
    top: 30px; 
  }

  .header-nav {
    display: none; 
  }

  .header-logo{
    margin-top:20px;
  }

  #catchcopy{
    text-align:center;
    margin:0;
  }

  .catchcopy-large {
  position: absolute;
  top: 20%;
  left:auto;
  font-size:50px;
}

.catchcopy-mini{
  position: absolute;
  top: 65%;
  left:25%;
  font-size: 18px;
  letter-spacing: -0.5px;
}

#section{
  height:400px;
}

.section-title{
  top:8%;
}

.section-txt{
  top:15%;
}

#service{
  height:100%;
  margin-bottom:30%;
}

.service-box-info{
  width:100%;
  height:100%;
  margin-bottom:10%;
} 

.service-btn {
  width:90%;
  left:2%;
}

.news-box {
  padding: 15% 4%;
}

.news-container{
  padding: 0 6%;
}

.blog-container{
    display:block;
    margin-bottom:10%;
}

.blog-img{
  width:100%;
}

.blog-post{
  display:block;
  width:100%;
}

#company {
  margin-top: 50%;
  margin-bottom:15%;
}

.company-link,
.recruit-link{
  padding:50% 0;
}

#contact {
  padding:0 7%;
}

#top-footer{
  height:auto;
  text-align: center;
  padding:0 0 5% 0;
  
}
.footer-logo{
  width:100%;
}
.footer-nav li{
  width:100%;
  margin:0.5% 0;
}

.footer-nav li a{
   border-right:none;
}

} 

